
#NET "clk_hand_in" LOC = U9;#by hand
#NET "clk_11_in" LOC = B8; # 11Mhz
#NET "clk_50_in" LOC = B9; # 50Mhz

NET "k_clk" LOC = U6; 
NET "k_data" LOC = V6;
NET "clk_50" LOC = B9; # 50Mhz
NET "rst" LOC = U10;

NET "seg0[0]" LOC = C9;
NET "seg0[1]" LOC = D9;
NET "seg0[2]" LOC = E9;
NET "seg0[3]" LOC = F9;
NET "seg0[4]" LOC = G9;
NET "seg0[5]" LOC = A10;
NET "seg0[6]" LOC = B10;

#NET "seg1[0]" LOC = C7;
#NET "seg1[1]" LOC = D7;
#NET "seg1[2]" LOC = E7;
#NET "seg1[3]" LOC = F7;
#NET "seg1[4]" LOC = A8;
#NET "seg1[5]" LOC = E8;
#NET "seg1[6]" LOC = F8;


#LED
#led [15:8]
NET "data_out[7]" LOC = A14;
NET "data_out[6]" LOC = E13;
NET "data_out[5]" LOC = D13;
NET "data_out[4]" LOC = B13;
NET "data_out[3]" LOC = A13;
NET "data_out[2]" LOC = F12;
NET "data_out[1]" LOC = E12;
NET "data_out[0]" LOC = A12;

#led [7:0]
#NET "pc_test[7]" LOC = F11;
#NET "pc_test[6]" LOC = E11;
#NET "pc_test[5]" LOC = D11;
#NET "pc_test[4]" LOC = C11;
#NET "pc_test[3]" LOC = B11;
#NET "rst_in_debug" LOC = A11;#2
#NET "datain_debug" LOC = E10;#1
NET "data_ready_out" LOC = D10; #0

