//! **************************************************************************
// Written by: Map P.20131013 on Sun Nov 27 14:21:32 2016
//! **************************************************************************

SCHEMATIC START;
COMP "seg0<0>" LOCATE = SITE "C9" LEVEL 1;
COMP "seg0<1>" LOCATE = SITE "D9" LEVEL 1;
COMP "seg0<2>" LOCATE = SITE "E9" LEVEL 1;
COMP "seg0<3>" LOCATE = SITE "F9" LEVEL 1;
COMP "datain_debug" LOCATE = SITE "E10" LEVEL 1;
COMP "seg1<0>" LOCATE = SITE "C7" LEVEL 1;
COMP "seg0<4>" LOCATE = SITE "G9" LEVEL 1;
COMP "seg1<1>" LOCATE = SITE "D7" LEVEL 1;
COMP "seg0<5>" LOCATE = SITE "A10" LEVEL 1;
COMP "seg1<2>" LOCATE = SITE "E7" LEVEL 1;
COMP "seg0<6>" LOCATE = SITE "B10" LEVEL 1;
COMP "seg1<3>" LOCATE = SITE "F7" LEVEL 1;
COMP "seg1<4>" LOCATE = SITE "A8" LEVEL 1;
COMP "seg1<5>" LOCATE = SITE "E8" LEVEL 1;
COMP "seg1<6>" LOCATE = SITE "F8" LEVEL 1;
COMP "fclk" LOCATE = SITE "B9" LEVEL 1;
COMP "datain" LOCATE = SITE "V6" LEVEL 1;
COMP "rst_in_debug" LOCATE = SITE "A11" LEVEL 1;
COMP "clkin_debug" LOCATE = SITE "D10" LEVEL 1;
COMP "rst_in" LOCATE = SITE "U10" LEVEL 1;
COMP "clkin" LOCATE = SITE "U6" LEVEL 1;
SCHEMATIC END;

